<hr class="bg-success" style="height: 2px" />
<main>
    <div class="track-details">
        <h4 class="text-center">Track Name: @Model.Track.Name</h4>
        <h4 class="text-center" type="number" step="0.01">Track Price: @Model.Track.Price</h4>
        <hr class="bg-success w-50" style="height: 2px" />
        <div class="d-flex justify-content-center">
            <<iframe width="560" height="315" src="@Model.Track.Link" frameborder="0" 
                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr class="bg-success w-50" style="height: 2px" />
        <div class="d-flex justify-content-center">
            <a href="/Albums/Details?id=@Model.AlbumId" class="btn bg-success text-white">Back To Album</a>
        </div>
    </div>
</main>